@{
    ViewData["Title"] = "List Candidatures";
}

@*Add CSS *@
@section appCss {
<link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}

<h1 class="mb-5">@ViewData["Title"]</h1>


@*Candidatures List*@

<table id="myTable"  class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom complet</th>
            <th>Tel</th>
            <th>Date d’envoi</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@*Add JS Script*@
@section appScripts {
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script src="~/js/candidaturesJQueryDataTable.js"></script>

}
