@{
    ViewData["Title"] = "List Candidatures";
}

@*Add CSS *@
@section appCss {
<link rel="stylesheet" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
}

<h1 class="mb-5">@ViewData["Title"]</h1>


@*Candidatures List*@

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Nom complet</th>
            <th>Date d’envoi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>


@*Add JS Script*@
@section appScripts {
<script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

}
